<!-- renders the connect four board -->
<div class ="c4-board">
  <div class="c4-wrapper">
		<% 5.downto(0) do |row| %>
		  <div> 	 
			  <% 0.upto(6) do |column| %>
			    <span>
			   	<% if @grid_arr[column][row].nil? %> 
			   	  <%= image_tag("cfempty.png")%>
			   	<% elsif @grid_arr[column][row] == 'red' %>
			   		<%= image_tag("cfred.jpeg")%>
			   	<% elsif @grid_arr[column][row] == 'yellow' %><%# black piece %>
			   		<%= image_tag("cfyell.jpeg")%>
			   	<% end %>
			    </span>
			  <% end %>
		  </div>
		<% end %>
  </div>
</div>