<!-- renders the connect four move entry radio buttons -->

<div class="c4-form">
	<%= form_tag(drop_piece_path, :method => "POST") do |f| %> 
		<% 0.upto(6) do |i| %>
		  <span class="c4-radio">
		    <%= radio_button_tag(:move, "#{i}") %>
		  </span>
		<% end %>

		<p><%= submit_tag("Drop", class: 'btn btn-default c4-btn')%></p>
		
	<% end %>
</div>