<!-- renders the connect four header -->

<% if game_over %>
  <h2><%= game_over %></h2>
<% else %>
  <h2>It's <%= current_player %>'s turn!</h2>

<p>Enter your column selection using the form below.</p>
<% end %>
