<!-- Renders the Tic Tac Toe Header -->

<% if game_over %>
  <h2>
    <%= game_over %>
  </h2>
<% else %>
  <h2>
    Player <%= @current_player %>, you're up!
  </h2>

  <p>
    Enter your selection using the buttons below.
  </p>
 <% end %>