<!-- Renders the Tic Tac Toe Board -->

<div class="ttt-board">
  <div class="ttt-wrapper">
    <% 0.upto(2) do |row| %>
      <div>
        <% 0.upto(2) do |col| %>
          <span>
          <% if @board_arr[row][col].nil? %>
            <%= image_tag("tttempty.jpeg", :class => "ttt-image") %>
          <% elsif @board_arr[row][col] == 'X' %>
            <%= image_tag("x3.jpeg", :class => "ttt-image") %>
          <% elsif @board_arr[row][col] == 'O' %>
            <%= image_tag("o2.jpeg", :class => "ttt-image") %>
          <% end %>
          </span>
        <% end %>  
      </div>
    <% end %>
  </div>
</div>