// Place all the styles related to the ConnectFour controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.c4-board {
	border: 3px solid #000;
	border-top: none;
	margin: 0 auto;
	width: 580px;
}

.c4-wrapper {
	padding: 15px 0;
}

.c4-radio {
	margin: 10px 32px 
}

.c4-btn {
	margin-top: 10px;
}