// Place all the styles related to the staticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* UNIVERSAL */
body{
	padding-top:50px;
}
a{
	text-decoration: none;
	color: #555;
	&:hover{
		text-decoration:none;
	}
}


// GAME CENTER FRONT PAGE
.gc-page-wrapper {
	text-align: center;
	.content-wrapper{
		.game-wrapper{
			border: 2px solid #777;
		  opacity: 0.5;
		  -webkit-transition: all .5s ease-in-out;
		  	 -moz-transition: all .5s ease-in-out;
		          transition: all .5s ease-in-out;
	    &:hover {
	    	opacity: 1;
	    	background-color: rgb(173,216,230);
	    }
		}
	}
}

.row {
	margin-top: 15px;
}

.navbar-inverse {
  .navbar-brand {
	font-weight: bold;
	font-size: 2em;
	-webkit-transition: color .2s ease-in;
	   -moz-transition: color .2s ease-in;
       -o-transition: color .2s ease-in;
  transition: color .2s ease-in;
  color: #fff;

	&:hover {
	  color: rgb(173,216,230);
	  }
  }
}

// RPS

.rps-content{
	text-align:center;
}
.game-box{
	border: 2px solid #777;
	border-radius: 3px;
}
